# IMPORTING LIBRARY

Shift+tab for suggestion and help

In [1]:
import pandas as pd

In [10]:
import numpy as np
li = ['s', 'a', 't', np.nan,'s']
pd.get_dummies(li, dummy_na=True) # it creates a dataframe which returns the indexs of where the elements are placed

   a  s  t  NaN
0  0  1  0    0
1  1  0  0    0
2  0  0  1    0
3  0  0  0    1
4  0  1  0    0

In [3]:
labels, uniques = pd.factorize(['b', 'd', 'd', 'c', None, 'c', 'a', 'b'],na_sentinel = -143)
print("Numeric Representation : \n", labels)
print("Unique Values : \n", uniques)

Numeric Representation :
 [   0    1    1    2 -143    2    3    0]
Unique Values :
 ['b' 'd' 'c' 'a']

In [4]:
df=pd.DataFrame({"A":[1,5,7,8],
                 "B":[5,8,4,3],
                 "C":[10,None,9,3]})
df.eval('D = A+B+C', inplace = True)
df

   A  B     C     D
0  1  5  10.0  16.0
1  5  8   NaN   NaN
2  7  4   9.0  20.0
3  8  3   3.0  14.0

In [8]:
s=pd.Series([168,180,174,190,170,185,179,181,175,169,182,177,180,171])
pd.cut(s,3)
#To add labels to bins
pd.cut(s,3,labels=["Small","Medium","Large"])

0      Small
1     Medium
2      Small
3      Large
4      Small
5      Large
6     Medium
7     Medium
8      Small
9      Small
10    Medium
11    Medium
12    Medium
13     Small
dtype: category
Categories (3, object): ['Small' < 'Medium' < 'Large']

In [6]:
df = pd.crosstab([1,2,3,4],[7,8,9,11])
df

col_0  7   8   9   11
row_0
1       1   0   0   0
2       0   1   0   0
3       0   0   1   0
4       0   0   0   1