# Assignment Statements

    Python assignment statement used for assign objects to names.basically, you write the target of an assignment on the left
of an equals sign, and the object to be assigned on the right.The target on the left may be a name or object component, and the
object on the right can be an arbitrary expression that computes an object.

## properties

1 Assignments create object references.
    • They always create references to objects instead of copying the objects.Because of that,Python variables are more like 
    pointers than data storage areas.
2 Names are created when first assigned.
    • Python creates a variable name the first time you assign it a value,so there’s no need to predeclare names ahead of time.
3 Names must be assigned before being referenced.
    • It’s an error to use a name to which you haven’t yet assigned a value.Python raises an exception if you try,rather than 
    returning some sort of ambiguous default value.
4 Some operations perform assignments implicitly.
    • module imports,function and class definitions,for loop variables,and function arguments are all implicit assignments.Beca-
    use assignment works the same everywhere it pops up, all these contexts simply bind names to object references at runtime.

## Sequence Assignment

In [1]:
spam = 'Spam' # Basic form
spam

'Spam'

In [2]:
spam, ham = 'yum', 'YUM' # Tuple assignment (positional)
spam

'yum'

In [3]:
[spam, ham] = ['yum', 'YUM'] # List assignment (positional)
ham

'YUM'

In [4]:
a, b, c, d = 'spam' # Sequence assignment, generalized
a

's'

In [5]:
a, *b = 'spam' # Extended sequence unpacking (Python 3.X)
a,b

('s', ['p', 'a', 'm'])

In [6]:
spam = ham = 'lunch' # Multiple-target assignment
ham,spam

('lunch', 'lunch')

In [7]:
spams = 0
spams += 42 # Augmented assignment
spams

42

In [8]:
>>> [a, b, c] = (1, 2, 3) # Assign tuple of values to list of names
>>> a, c

(1, 3)

In [9]:
>>> (a, b, c) = "ABC" # Assign string of characters to tuple
>>> a, c

('A', 'C')

In [10]:
>>> string = 'SPAM'
>>> a, b, c, d = string # Same number on both sides
>>> a, d

('S', 'M')

In [11]:
>>> string = 'SPAM'
>>> a, b, c = string # Error if not

ValueError: too many values to unpack (expected 3)

In [12]:
>>> string = 'SPAM'
>>> a, b, c = string[0], string[1], string[2:] # Index and slice
>>> a, b, c

('S', 'P', 'AM')

In [13]:
>>> string = 'SPAM'
>>> a, b = string[:2] # Same, but simpler
>>> c = string[2:]
>>> a, b, c

('S', 'P', 'AM')

In [14]:
>>> string = 'SPAM'
>>> (a, b), c = string[:2], string[2:] # Nested sequences
>>> a, b, c

('S', 'P', 'AM')

In [15]:
>>> string = 'SPAM'
>>> ((a, b), c) = ('SP', 'AM') # Paired by shape and position
>>> a, b, c

('S', 'P', 'AM')

In [16]:
>>> red, green, blue = range(3)
>>> red, blue

(0, 2)

In [17]:
>>> L = [1, 2, 3, 4]
>>> while L:
        front, L = L[0], L[1:] # See next section for 3.X * alternative
        print(front, L)

1 [2, 3, 4]
2 [3, 4]
3 [4]
4 []

### Extended unpacking

In [18]:
>>> seq = [1, 2, 3, 4]
>>> a, b = seq

ValueError: too many values to unpack (expected 2)

In [19]:
>>> a, *b = seq
>>> print("A :- ", a)
>>> print("B :- ", b)

A :-  1
B :-  [2, 3, 4]

In [20]:
>>> *a,b = seq
>>> print("A :- ", a)
>>> print("B :- ", b)

A :-  [1, 2, 3]
B :-  4

In [21]:
>>> *a,*b = seq
>>> print("A :- ", a)
>>> print("B :- ", b)

SyntaxError: multiple starred expressions in assignment (4035136258.py, line 1)

In [22]:
>>> a, *b, c = 'spam'
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)

A :-  s
B :-  ['p', 'a']
C :-  m

In [23]:
>>> *a,b, c = 'spam'
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)

A :-  ['s', 'p']
B :-  a
C :-  m

In [24]:
>>> a,b, *c = 'spam'
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)

A :-  s
B :-  p
C :-  ['a', 'm']

In [25]:
>>> a, *b, c = range(4)
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)

A :-  0
B :-  [1, 2]
C :-  3

### Boundary cases

starred name may match just a single item, but is always assigned a list:

In [26]:
>>> seq = [1, 2, 3, 4]
>>> a, b, c, *d = seq
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)
>>> print("D :- ", d)

A :-  1
B :-  2
C :-  3
D :-  [4]

    if there is nothing left to match the starred name, it is assigned an empty list,regardless of where it appears. In the 
following, a, b, c, and d have matched every item in the sequence, but Python assigns e an empty list instead of treating this
as an error case:

In [27]:
>>> a, b, c, d, *e = seq
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)
>>> print("D :- ", d)
>>> print("E :- ", e)

A :-  1
B :-  2
C :-  3
D :-  4
E :-  []

In [28]:
>>> a, b, *e, c, d = seq
>>> print("A :- ", a)
>>> print("B :- ", b)
>>> print("C :- ", c)
>>> print("D :- ", d)
>>> print("E :- ", e)

A :-  1
B :-  2
C :-  3
D :-  4
E :-  []

errors can still be triggered if the starred name is not itself coded inside a sequence.

In [29]:
>>> *a = seq

SyntaxError: starred assignment target must be in a list or tuple (1175220355.py, line 1)

In [ ]:
>>> *a, = seq
>>> a

In [ ]:
>>> [*a] = seq
>>> a

### Multiple-Target Assignments

In [30]:
>>> a = b = 0
>>> a, b

(0, 0)

    Here, changing b only changes b because numbers do not support in-place changes. As long as the object assigned is 
immutable, it’s irrelevant if more than one name references it.

In [31]:
>>> b = b + 1
>>> a, b

(0, 1)

In [32]:
>>> a = b = []
>>> a, b

([], [])

    because a and b reference the same object, appending to it in place through b will impact what we see through a as well.

In [33]:
>>> b.append(42)
>>> a, b

([42], [42])

    To avoid the issue, initialize mutable objects in separate statements instead, so that each creates a distinct empty
object by running a distinct literal expression:

In [34]:
>>> a = []
>>> b = [] # a and b do not share the same object
>>> a, b

([], [])

In [35]:
>>> b.append(42)
>>> a, b

([], [42])

In [36]:
>>> a, b = [], [] 
>>> a, b

([], [])

In [37]:
>>> b.append(42)
>>> a, b

([], [42])

### Augmented Assignments

In [38]:
# adition
>>> x = 50
>>> x += 1
>>> x

51

In [39]:
# substraction
>>> x -= 1
>>> x

50

In [40]:
# multiplication
>>> x *= 3
>>> x

150

In [41]:
# division
>>> x /= 3
>>> x

50.0

In [42]:
# power
>>> x = 4
>>> x **= 2 
>>> x

16

In [43]:
# right shift
>>> x >>= 3
>>> x

2

In [44]:
# left shift
>>> x <<= 5
>>> x

64

In [45]:
>>> S = {1,2,3,4}
>>> S ^= {4,5,6} # symmetric_difference
>>> S

{1, 2, 3, 5, 6}

In [46]:
>>> S = {1,2,3,4}
>>> S |= {4,5,6} # union
>>> S

{1, 2, 3, 4, 5, 6}

In [47]:
>>> S = {1,2,3,4}
>>> S &= {4,5,6} # inserction
>>> S

{4}

### Augmented assignment and shared references

In [48]:
>>> L = [1, 2]
>>> M = L # L and M reference the same object
>>> L = L + [3, 4] # Concatenation makes a new object
>>> L, M # Changes L but not M

([1, 2, 3, 4], [1, 2])

In [49]:
>>> L = [1, 2]
>>> M = L # L and M reference the same object
>>> L += [3, 4] # But += really means extend in same object
>>> L, M # Changes L but also change M

([1, 2, 3, 4], [1, 2, 3, 4])

# Variable Name Rules

Syntax: (underscore or letter) + (any number of letters, digits, or underscores)
    Variable names must start with an underscore or letter, which can be followed by any number of letters, digits, or 
    underscores.

Case matters: SPAM is not the same as spam
    Python always pays attention to case in programs, both in names you create and in reserved words. For instance,the names X
    and x refer to two different variables.For portability, case also matters in the names of imported module files, even on 
    platforms where the filesystems are case-insensitive. 

Reserved words are off-limits
    Names you define cannot be the same as words that mean special things in the Python language. For instance, if you try to 
    use a variable name like class, Python will raise a syntax error, but klass and Class work fine.

Python 3.X reserved words
        False        class         finally         is             return
        None         continue      for             lambda         try
        True         def           from            nonlocal       while
        and          del           global          not            with
        as           elif          if              or             yield
        assert       else          import          pass           raise
        break        except        in 

• print is a reserved word, because printing is a statement, not a built-in function
(more on this later in this chapter).
• exec is a reserved word, because it is a statement, not a built-in function.
• nonlocal is not a reserved word because this statement is not available.

### Naming conventions

    there is also a set of naming conventions—rules that are not required but are followed in normal practice. For instance, 
because names with two leading and trailing underscores (e.g., __name__) generally have special meaning to the Python 
interpreter, you should avoid this pattern for your own names.
• Names that begin with a single underscore (_X) are not imported by a from module import * statement.
• Names that have two leading and trailing underscores (__X__) are system-defined names that have special meaning to 
the interpreter.
• Names that begin with two underscores and do not end with two more (__X) are localized (“mangled”) to enclosing classes 
• The name that is just a single underscore (_) retains the result of the last expression when you are working interactively.

Names have no type, but objects do.
     objects have a type (e.g.,integer, list) and may be mutable or not. Names (a.k.a. variables), on the other hand,are always
just references to objects; they have no notion of mutability and have no associated type information, apart from the type of 
the object they happen to reference at a given point in time.
    Thus, it’s OK to assign the same name to different kinds of objects at different times:

In [50]:
>>> x = 0 # x bound to an integer object
>>> x = "Hello" # Now it's a string
>>> x = [1, 2, 3] # And now it's a list

### Expression Statements and In-Place Changes

    Calling an in-place change operation such as append, sort, or reverse on a list always changes the list in place, but 
these methods do not return the list they have changed; instead, they return the None object.

In [51]:
>>> L = [1, 2]
>>> L.append(3) # Append is an in-place change
>>> L

[1, 2, 3]

In [52]:
>>> L = L.append(4) # But append returns None, not L
>>> print(L) # So we lose our list!

None

### print Function

*** 
syntax:
    print([object, ...][, sep=' '][, end='\n'][, file=sys.stdout][, flush=False])
***

1 sep
    • sep is a string inserted between each object’s text, which defaults to a single space if not passed; passing an empty 
    string suppresses separators altogether.

2 end
    • end is a string added at the end of the printed text, which defaults to a \n newline character if not passed. Passing an
empty string avoids dropping down to the next output line at the end of the printed text—the next print will keep adding to
the end of the current output line.

3 file
    • file specifies the file, standard stream, or other file-like object to which the text will be sent; it defaults to the 
sys.stdout standard output stream if not passed. Any object with a file-like write(string) method may be passed, but real 
files should be already opened for output.

4 flush
    • flush, added in 3.3, defaults to False. It allows prints to mandate that their text be flushed through the output stream
immediately to any waiting recipients. Normally, whether printed output is buffered in memory or not is determined by file; 
passing a true value to flush forcibly flushes the stream.

In [53]:
>>> x = 'A'
>>> y = 'B'
>>> z = 'C'
>>> print(x, y, z) # Print three objects per defaults

A B C

In [54]:
>>> print(x, y, z, sep='') # Suppress separator

ABC

In [55]:
>>> print(x, y, z, sep='*') # Custom separator

A*B*C

In [56]:
>>> x = 'A'
>>> y = 'B'
>>> z = 'C'
>>> print(x, y, z) # Print three objects per defaults
>>> print(x, y, z)

A B C
A B C

In [57]:
>>> print(x, y, z, end='*')
>>> print(x, y, z)

A B C*A B C

In [58]:
>>> print(x, y, z, end='!')
>>> print(x, y, z)

A B C!A B C

In [59]:
>>> print(x, y, z, end='\t')
>>> print(x, y, z)

A B C	A B C

#### store output in file with sys module

In [60]:
>>> import sys
>>> temp = sys.stdout # Save for restoring later
>>> sys.stdout = open('log.txt', 'a') # Redirect prints to a file
>>> print('spam') # Prints go to file, not here
>>> print(1, 2, 3)
>>> sys.stdout.close() # Flush output to disk
>>> sys.stdout = temp # Restore original stream
>>> print('back here') # Prints show up here again

back here

In [61]:
>>> print(open('log.txt').read()) # Result of earlier prints

1 2 3
4 5 6
spam
1 2 3

#### store output in file without sys module using file method

In [62]:
>>> x = 'A'
>>> y = 'B'
>>> z = 'C'
log = open('log.txt', 'a') # 3.X
print(x, y, z, file=log) # Print to a file-like object

In [63]:
>>> a = 4
>>> b = 5
>>> c = 7
print(a, b, c) # Print to original stdout but not stored in file
# if we want to store value in file by just print statement we need to use sys module

4 5 7

In [64]:
>>> log = open('log3.txt', 'w')
>>> print(1, 2, 3, file=log) # For 2.X: print >> log, 1, 2, 3
>>> print(4, 5, 6, file=log)

In [65]:
>>> print(open('log3.txt').read())

In [66]:
>>> log = open('log.txt', 'w')
>>> print(1, 2, 3, file=log) # For 2.X: print >> log, 1, 2, 3
>>> print(4, 5, 6, file=log)
>>> log.close()
>>> print(7, 8, 9)

7 8 9

In [67]:
>>> print(open('log.txt').read())

1 2 3
4 5 6

    here,note that write method overwrite the text in file by erasing privious texts where append method add the text at the 
    end of files texts.

In [68]:
f = open('log2.txt','a')
print(1,2,file=f,flush=True)
print(open('log2.txt').read())

1 2
1 2 3
1 2 3
1 2

In [69]:
f = open('log2.txt','a')
print(1,2,3,file=f,flush=False)
print(open('log2.txt').read())

1 2
1 2 3
1 2 3
1 2

In [70]:
f = open('log2.txt','a')
print(1,2,3,file=f,flush=True)
print(open('log2.txt').read())

1 2
1 2 3
1 2 3
1 2
1 2 3
1 2 3

if We want to store the output values in file instantally without wait till close command we will use flush.