In [18]:
import pandas as pd
import re
from io import StringIO

In [19]:
data = ('Gender,Age,Amount,Mobile,Email\n'
         'male,19,19000,8000618586,xyz@gmail.com\n'
         'male,20,20000,98659865598,xyz@gmail.com\n'
         'male,23,3000,9909224943,xyz@yahoo.com\n'
         'male,52,20000,9712109704,xyz@gmail.com\n'
         'female,19,19000,854678546785,xyz@gmail.com\n'
         'male,19,20000,2546875946,xyz@yahoo.com\n'
         'female,23,1000,9112667856,xyz@gmail.com\n'
         'male,52,25000,1235486795,xyz@gmail.com\n'
         'female,20,16000,7041982574,xyz@gmail.c\n'
         'male,23,13000,7874199585,xyz@gmail.com\n'
       )

In [20]:
df = pd.read_csv(StringIO(data))
regex = '^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'

In [21]:
def check_email(email):
    if(re.fullmatch(regex, email)):
        return True
    else:
        return False
df['is_valid_email'] = df['Email'].apply( lambda x : check_email(str(x)))

In [22]:
Pattern = ("(0/91)?[5-9][0-9]{9}")
def check_number(mobile):
    if(re.fullmatch(Pattern ,mobile)):
        return True
    else:
        return False
df['is_valid_phone'] = df['Mobile'].apply(lambda x:check_number(str(x)))

In [23]:
df

,Gender,Age,Amount,Mobile,Email,is_valid_email,is_valid_phone
0,male,19,19000,8000618586,xyz@gmail.com,True,True
1,male,20,20000,98659865598,xyz@gmail.com,True,False
2,male,23,3000,9909224943,xyz@yahoo.com,True,True
3,male,52,20000,9712109704,xyz@gmail.com,True,True
4,female,19,19000,854678546785,xyz@gmail.com,True,False
5,male,19,20000,2546875946,xyz@yahoo.com,True,False
6,female,23,1000,9112667856,xyz@gmail.com,True,True
7,male,52,25000,1235486795,xyz@gmail.com,True,False
8,female,20,16000,7041982574,xyz@gmail.c,False,True
9,male,23,13000,7874199585,xyz@gmail.com,True,True